@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --sidebar: 0 0% 7%;
    --card: 0 0% 9%;
    --card-hover: 0 0% 16%;
    --primary: 142 71% 45%; 
  }
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}